<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="spiff-icon.jpg" width="40" height="35"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/products">Tops and Bands</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Designers</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <li><a class= "glyphicon glyphicon-shopping-cart" style="cursor:pointer" data-toggle="modal" data-target="#cartModal"></a></li>
          <li ><a href="#" ng-click="logout()" >Logout</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#/user_info">Account</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br>
<div class="container" style="z-index: -1">
<div class="container" ng-repeat="product in items">
	<div class="row">
		<div class="column">
			<div class="span4"></div>
			<hr>
      <div class="span4"><h1 style="color: white">{{ product.name }}</h1>
                          
          </div>
      
			<img ng-src="{{product.cover }}"> 
			<p style="color:white">{{ product.description }}</p>
			<br>
      <p style="color:white; float: right"> {{ product.price | currency}}</p>
      
		</div>
		<div class="row">
      <form style = "float:right" class="form-inline dropdown">
          <select form = {{ product.name }} name="Size" ng-model="item_add.size">
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large"> Large</option>
              <option value="XL">XL</option>
          </select>
          <select form = {{product.name}} name="Color" ng-model="item_add.color">
              <option  value="White">White</option>
              <option value="Black">Black</option>
          </select>
			<div class="span4" ng-click="add_item($index)"><button class="btn btn-primary btn-sm" style="float:right" type="button" >Add to Cart</button></div>
      </form>
  	</div>
	</div>
</div>
</div>
<!--Modal for cart -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Your Shopping Cart</h2>
        <h4> Total: {{user_data.total | currency}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <div ng-repeat="items in user_data.cart" ng-if="!items.removed">
          <h2>{{items.name}}<span  class="glyphicon glyphicon-remove btn pull-right" ng-click="remove_item($index)"></span></h2>
          <h4>{{items.price | currency}}</h4>
          <p> {{items.color}}</p>
          <p> {{items.size}}</p>
          <div class="span4" ng-click="checkout()"> <button class="btn btn=primary btn btn-md" style="float:right" type= "button"> Checkout </button></div>
        </div>
      </div>
    </div>
  </div>
</div>